
#Experience h1{
    text-align:center;
    padding-top:1rem;
    padding-bottom:1rem;
}
#Experience h4{
    padding-top:1rem;
    padding-bottom:1rem;
    font-style: italic;
}
#Experience .experience-container{
    display:flex;
    justify-content:center;
}

#Experience .experience-container .content-box{
    padding:1rem;    
}
#Experience .content-container{
    border-bottom: 1px solid;
}

.left-padding{
}